.chat-screen-section {
  display: flex;
  flex: 1;
  margin-top: 2.2rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 80vh;

  .chat-title {
    background-color: rgb(28, 40, 46);
    color: #03a9f4;
    margin: 0;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.2rem;
    border-color: #03a9f4;
  }
  .chat-container {
    display: inline-block;
    flex-direction: column;
    min-width: 40vw;
    width: 100%;

    flex: 1;

    padding: 0.5rem;
    justify-content: flex-end;
    max-height: 70vh;
    overflow: auto;
    height: 100%;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 0.2rem;
    border-color: #03a9f4;
  }
  .chat-text-input-container {
    display: flex;
    flex-direction: row;
    #edit--div--input {
      width: 100%;
      font-size: 16px;
      padding: 0.5rem;
      text-align: left;
      max-height: 60px;
      overflow: auto;
    }
    .chat-send-icon {
      width: 3rem;
    }
  }
}

@media (width < 500px) {
  .chat-screen-section {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 100vh !important;
  }
}

.text-emoji {
  font-size: 20px;
}
