.screen-handler-container {
  display: grid;
  // overflow: hidden;
}

@media (width > 800px) {
  .screen-handler-container {
    display: grid !important;
    grid-template-columns: 30% 70%;
    // max-width: 95vw;
  }
}
